@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3rem 0.25rem 1.5rem 0.25rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.75rem 0.25rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0.615rem 0.25rem;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0.25rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 5rem 0.25rem;
}

h6 {
  font-size: 1rem;
  font-weight: 200;
  margin: 5rem 0.25rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: #000;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #121214 inset;
  -webkit-text-fill-color: #fff;
}
